@font-face {
  src: url(fonts/Artega.otf);
  font-family: artega;
  
}

h1 {
  font-family: artega;
  color: white;
}

#page3 h1 {
  font-size: 2rem;
}
p {
  color: white;
  font-size: .9rem;
  font-family: 'Taviraj', serif;
  font-weight: 200;
}

html {
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  overflow-x: hidden!important;
  box-sizing: border-box !important
}

.ht-100vh{
  height:100vh
}

#allPages {
  position: relative;
}

.page {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
}
#page1{
  height: 100vh!important;
  width: 100vw;
  box-sizing: border-box !important
}

.hidden {
  transform: translateY(-100%);
  transition: transform 1s;
}

.show {
  transform: translateX(0);
  transition: transform 1s;
}

::placeholder {
  color: white!important;
}

#mapSearchBar ::placeholder{
  color: red !important;
}

.leaflet-control-container .fa-solid{
  font-size: 1rem;
}

header .lead-1 {
  font-family: 'Taviraj', serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
}
header .lead-2 {
  font-family: 'Taviraj', serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

#searchInput{
  width: 20rem;
  color: red;
  background-color:rgba(0,0,0,0);
  font-family: 'Roboto Mono', monospace;
  border-color: rgba(255, 0, 0, 0.5);
  border-width: 2px;
}

#mapSearchInput, #locationSearchBtn, #mapSearchBtn{
  color: red;
  background-color:rgba(0,0,0,0);
  font-family: 'Roboto Mono', monospace;
  border-color: rgba(255, 0, 0, 0.5);
  border-width: 2px;
}

#mapSearchInput:focus, #searchInput:focus{
  background-color:rgba(255, 0, 0, 0.4) !important;
  color: white;
  /* font-weight: 900; */
}
#locationSearchBtn:hover, #mapSearchBtn:hover{
  background-color:rgba(255,0,0,0.5) !important;
  color:white;
}

button{
  background-color:rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: rgba(255, 0, 0, 0.5)!important;
  font-weight: 500;
  color: white!important;
  border-width: 2px!important;
  font-family: 'Roboto Mono', monospace;
}

button:hover {
  background-color:rgba(255, 0, 0, 0.4) !important;
}
.modal-content{
  background-color:rgba(75, 69, 69, 0.8);
}

.modal-title{
  color: white;
  font-family: 'Taviraj', serif;
}
.modal-body{
  color: white;
  text-align: center;
  font-family: 'Taviraj', serif;
  font-size: 3rem;
}

#randomSportImage {
  width: 100%;
}

#landingPage {
  height: 100vh;
  position:relative;
}

#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#mapPage {
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#infoTab {
  position: absolute;
  top: 0.9rem;
  right: 0.7rem;
  z-index: 314159;
  background-color: rgba(250, 52, 52, 0.6);
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Roboto Mono', monospace;
}

.icons-wrapper .fa-solid{
  position: relative; 
}

#infoTabSearchResults {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(-57px, 42px, 0px);
  background-color: rgba(255, 255, 255, 0.8);
}

#dropdownButton{
  color: black;
}

.resultList {
  padding: 0.25rem 0.6rem;
  font-size: 0.75rem;
  font-weight: 700;
  box-sizing: border-box;
}

.popupPhoto{
  width: 80%;
  margin: auto;
}

#mapSearchBar {
  position: absolute;
  bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 16rem;
  z-index: 314159;
}

#buddy-page{
  background: rgba(75, 69, 69, 0.8)
}

#buddy-icon {
  position: absolute;
  bottom: 6rem;
  left: 2rem;
  z-index: 314159;
}

#buddy-icon>img{
  width: 3rem;
  height: 3rem;
}

#buddy-page label {
  font-size: 1.5 rem;
  color: white;
}

.black{
  color: black !important;
}

.white{
  color: white !important;
}

.filter-black{
  filter: invert(0%) sepia(1%) saturate(4690%) hue-rotate(115deg) brightness(79%) contrast(100%);
}

.filter-white{
  filter: invert(100%) sepia(1%) saturate(677%) hue-rotate(268deg) brightness(122%) contrast(100%);
}

/* target all svg icons when in dark mode to invert to white */
.dark-mode .leaflet-marker-pane img {
  filter: invert(100%) sepia(1%) saturate(677%) hue-rotate(268deg) brightness(122%) contrast(100%);
}

/* .leaflet-popup-content-wrapper:not(.popupPhoto) */

.light-mode .leaflet-marker-pane img {
  filter: invert(0%) sepia(1%) saturate(4690%) hue-rotate(115deg) brightness(79%) contrast(100%);
}


.pale-red-bg{
  background-color: rgba(250, 52, 52, 0.445)
}

@media screen and (min-width: 769px) {
  #infoTab{
    font-size: 1.5rem;
  }
  .sportsIcon{
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  .resultList{
    font-size: 1.25rem;
  }
  #mapSearchBar{
    left: 50px;
    right: unset;
    top: 15px;
    bottom: unset;
  }
  #buddy-icon{
    bottom: 3rem
  }
  #buddy-icon>img{
    width: 4.5rem;
    height: 4.5rem
  }
  .leaflet-control-container .fa-solid{
    font-size: 2rem;
    padding: 0.25rem 0.5rem;
  }
}

/* overflow-y: auto */
