body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#singaporeMap {
  height: 100vh;
}

#allPages {
  position: relative;
}

.page {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 1s;
}

.show {
  transform: translateX(0);
  transition: transform 1s;
}

#landingPage {
  height: 100vh;
  background-image: url("images/swimming.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#mapPage {
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

#infoTab {
  position: absolute;
  top: 0.9rem;
  right: 2rem;
  z-index: 314159;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
}

#infoTabSearchResults {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate3d(-57px, 42px, 0px);
}
.resultList {
  padding: 0.25rem 0.6rem;
  font-size: 0.75rem;
  box-sizing: border-box;
}

.popupPhoto{
    width: 80%;
    margin: auto;
}
#mapSearchBar {
  position: absolute;
  bottom: 0.9rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 18rem;
  z-index: 314159;
}


@media screen and (min-width: 769px) {
  #infoTab{
    font-size: 1.5rem;
  }
  .sportsIcon{
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  .resultList{
    font-size: 1.25rem;
  }
}

/* overflow-y: auto */
