body {
    background-image: url('images/swimming.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

#singaporeMap {
    height:100vh;
}
#landingPage {
    height: 100vh
}

#secondPage {
    position: relative;
}

#infoTab {
    position: absolute;
    bottom: 15px;
    right: 45px;
    z-index: 314159; 
    background-color:rgba(255,255,255,0.7);

}

.resultList {
    padding: 10px;
}
/* @media screen and (min-width: 769px) {
    #landingPage{
        position: relative;
    }
    #searchWrapper{
        position: absolute;
        top: 0.4;
        right: 0.4;
    }
} */